// В этом файле должны быть стили для БЭМ-блока settings, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.settings {
	padding-top: 55px;
}

.settings--pt-0 {
	padding-top: 0;
}

.settings__flex {
	display: flex;
}


.settings__flex-wrap {
	padding-right: 25px;
}

.settings__block {
	display: flex;
	margin: 10px;
}

.settings__block--column {
	flex-direction: column;
}

.settings__title {
	font-size: 18px;
	margin-bottom: 15px;
}

.settings__block-wrap {
	display: flex;
	flex-direction: column;
	margin: 0 25px;
}

.settings__block-error {
	font-weight: bold;
	color: red;
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 20px;
	line-height: 1.5;
	min-height: 1.5em;
}

.settings__input {
	margin-bottom: 3px;
	border-radius: 5px;
	padding: 5px 10px;
	border: 1px solid #82c03b;
	border-bottom: 2px solid #82c03b;
	background-color: #f6f6f6;
}

.settings__input:focus {
	outline: transparent;
	background-color: #e4e4e4;
}

.settings__label {
	margin-bottom: 3px;
	margin-top: 10px;
}

.settings__select {
	&.nice-select {
		margin-bottom: 3px;
		border-radius: 5px;
		padding: 5px 10px;
		border: unset;
		border-bottom: 2px solid #82c03b;
		background-color: #f6f6f6;
		height: 29px;
		line-height: 19px;
	}

	.list {
		width: 100%;
		border-radius: 5px;
		border: 1px solid #82c03b;
	}

}

.settings__example {
	font-size: 13px;
	color: #b2b2b2;
}
