// В этом файле должны быть стили для БЭМ-блока planfix, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.planfix {
	margin: unset;

	.settings--hidden {
		display: none !important;
	}

	.hidden {
		display: none !important;
	}

	.settings__flex-wrap--planfix {
		padding-right: 0;
	}

	.settings__block {
		margin: 0;
	}

	.settings__block-error {
		margin: 0;
	}

	.settings__title {
		margin: 0;
	}

	.settings__label {
		margin: 0;
	}

	.pipTableGen__build {
		max-height: 600px;
		margin-bottom: unset;
	}

	.settings__block-wrap {
		margin: 0 3px;
	}

	.test {
		display: inline-block;
	}

	.pipTableGen__info {
		margin-top: 10px;
		margin-left: 25px;
		display: inline-flex;

		.pipTableGen__size {
			margin-right: 10px;
		}
		p {
			margin: 3px 0;
		}
	}


}
