// В этом файле должны быть стили для БЭМ-блока PipTableGen, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.pipTableGen {
	@include container;
	padding-top: 45px;
}

.pipTableGen__title {
	text-align: center;
}

.pipTableGen__build {
	max-height: 1000px;
	overflow: auto;
	margin-top: 50px;
	margin-bottom: 35px;
}

.pipTableGen__preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	//background:rgba(0, 0, 0, 0.85);
	display: flex;
	justify-content: center;
	align-items: center;
}

.pipTableGen__preloader--active {
	display: flex;
}
