// В этом файле должны быть стили для БЭМ-блока PipTableGen, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.PipTableGen {
	@include container;
	padding-top: 45px;
}

.PipTableGen__title {
	text-align: center;
}

.PipTableGen__build {
	max-height: 1000px;
	overflow: auto;
	margin-top: 50px;
	margin-bottom: 35px;
}
